<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python-Web-Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Mein Python Web-Tool 🐍</h1>
    <div class="history">
        <h3>Deine bisherigen Versuche:</h3>
        <div class="zahlen-container">
            {% for zahl in session['geratene_zahlen'] %}
                <span class="zahl-badge">{{ zahl }}</span>
            {% endfor %}
        </div>
    </div>

    <p>Ergebnis: <strong>{{ ausgabe }}</strong></p>


    <form method="POST">
        <input type="text" name="nutzer_eingabe" placeholder="Schreib was...">
        <button type="submit">Abschicken</button>
    </form>
</body>
</html>